* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-primary: #3cb4c4;
  --color-secundary: #ffd646;

}

html {
  font-size: 14px;
}

body {
  background-color: var(--color-secundary);
  height: auto;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

main {
  margin: 0 22.5% auto;
}

footer {
  background-color: transparent;
}

header {
  background: var(--color-primary);
  border-radius: 0 0 1rem 1rem;
  border: 1px solid #4798a3;
}

header img,
footer img {
  height: 1.5rem;
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.084))
    drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.168));
}


.logo-container {
  display: none;
  padding-top: 108.16px;
}

header a,
footer p {
  font-size: 1rem;
}

a {
  color: unset;
}

header,
.btnL {
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084), 0px 2px 3px rgba(0, 0, 0, 0.168);
}

.login-container {
  margin-top: 4.64rem;
  z-index: 2;
}

h2 {
  font-size: 2.3rem;
  font-weight: 700;
}
h4 {
  font-size: 1rem;

}
form,
form a,
h4,
.btnL {
  margin-top: 1.5rem;
}

.inpt {
  margin-top: 1rem;
  height: 3rem;
  padding: 1rem;
  box-shadow: inset 0px 2px 4px rgba(0, 0, 0, 0.25);
  border: 1px solid #c59900;
  border-radius: 1rem;
}

.login-container,
.login-container form {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
}

.btnL {
  height: 3rem;
  background: #45afc7;
  color: #fff;
  border: none;
  border-radius: 1rem;
  font: 500 1.3rem Sans-Serif;
}

.btnL:hover {
  box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.084),
    inset 0px 2px 3px rgba(0, 0, 0, 0.168);
}

#footer {
  background-color: var(--color-primary);
  border-radius: 1rem 1rem 0 0;
  border: 1px solid #4798a3;
  justify-self: flex-end;
  margin-top: 4.286rem;
  padding-top: 2.143rem;
  padding-bottom: 2.143rem;
  z-index: 1;
  font: 400 1rem Sans-serif;

  color: #fff;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084),
    0px -2px 3px rgba(0, 0, 0, 0.168);
}

#footer p{
  color: #fff;
}

footer li {
  list-style-type: none;
  margin-right: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.1rem;
  width: 2.1rem;
  border-radius: 50%;
  background-color: var(--color-secundary);
  cursor: pointer;
  transition: 250ms ease;
}

footer li:hover {
  background-color: #3d8f99;
  box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084),
    0px -2px 3px rgba(0, 0, 0, 0.168);
  transition: 300ms ease;
}

footer li a {
  text-decoration: none;
}

a:hover {
  color: unset;
}

footer ul {
  display: flex;
  padding: 0;
}

.termos{
  display: flex;
  justify-content: flex-start;
  margin-left: 18px;
  margin-top: 18px;
  align-items: center;
  /* flex-direction: column; */
}

.iconEye{
  align-self: flex-end;
  margin-right: 20px;
  margin-top: -35px;
}

@media (min-width: 790px) {
  body{
    height: 100vh;
  }
  main {
    width: 100%;
    max-width: 31rem;
    margin: auto;
  }
  header img,
  footer img{
    height: 2.0rem;
  }

}

@media (min-width: 990px) {
  body {
    background-color: var(--color-primary);
  }
  html {
    overflow-y: hidden;
    overflow-x: hidden;
  }
  main {
    display: flex;
    max-width: 100%;
    align-items: center;
    justify-content: space-between;
  }
  .logo-container {
    display: flex;
  }
  header img{
    height: 2.5rem;
  }
  footer img {
    visibility: hidden;
  }
  header,
  .logo-container,
  #footer {
    padding-left: 30px;
  }
  #footer{
    border: none;
    box-shadow: none;
    border-radius: 0;
  }
  .logo-container img {
    height: 110px;
    filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.084))
      drop-shadow(0px 10px 3px rgba(0, 0, 0, 0.168));
  }
  .login-container {
    position: absolute;
    right: 0;
    top: -74px;
    height: 100vh;
    width: 40vw;
    background-color: var(--color-secundary);
    box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.084),
      -2px 0px 3px rgba(0, 0, 0, 0.168);
  }
  .login-container form {
    /* max-width: 0%; */
    margin: 0 27.5%;
  }
  footer {
    margin: 0;
    padding: 0;
  }
  footer,
  header {
    border: none;
    box-shadow: none;
  }
  header,
  footer {
    background-color: transparent;
    z-index: 1;
  }
}

@media (min-width: 1300px) {
  .logo-container img {
    height: 150px;
  }
  .logoheader{
    height: 30px;
  }
}



/* validators */
.valido {
  border-color: green;
}

.invalido {
  border-color: red;
}
